<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" >
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<!--container text background-->
<body id="backGround" class="container max-w-xl mx-auto bg-white">
    <button id="styleSwich" class="w-20 h-8 text-white text-center rounded-full duration-500 bg-blue-500">
        <i id="modeIcon" class="material-symbols-outlined" style="font-size:32px;">wb_sunny</i>
    </button>
    <div id="bwGround" class="grid grid-cols-1 font-sans leading-normal space-y-3 bg-white">
        <div id="alarm1Box" class="rounded-lg ring-2 ring-offset-2 ring-green-600">
            <div id="alarm1" class="py-2 px-4 text-black text-sm rounded-lg bg-white" hx-get="/alarm_1" hx-trigger="load, every 2s"></div>
            <button id="alarm1Copy" class="w-full rounded-lg font-bold text-white bg-blue-500" onclick="copyText('alarm1')">알람 복사</button>
            <div id="alarm1Info" class="box-border w-full p-1 rounded-lg text-black bg-white">
                <div hx-get="/alarm_1_info" hx-trigger="load, every 2s"></div><br>
                <li class="font-bold">담당자</li>
                <div hx-get="/alarm_1_char" hx-trigger="load, every 2s"></div>
            </div>
        </div>
        <div id="alarm2Box" class="rounded-lg ring-2 ring-offset-2 ring-green-600">
            <div id="alarm2" class="py-2 px-4 text-black text-sm rounded-lg bg-white" hx-get="/alarm_2" hx-trigger="load, every 2s"></div>
            <button id="alarm2Copy" class="w-full rounded-lg font-bold text-white bg-blue-500" onclick="copyText('alarm2')">알람 복사</button>
            <div id="alarm2Info" class="box-border w-full p-1 rounded-lg text-black bg-white">
                <div hx-get="/alarm_2_info" hx-trigger="load, every 2s"></div><br>
                <li class="font-bold">담당자</li>
                <div hx-get="/alarm_2_char" hx-trigger="load, every 2s"></div>
            </div>
        </div>
        <div id="alarm3Box" class="rounded-lg ring-2 ring-offset-2 ring-green-600">
            <div id="alarm3" class="py-2 px-4 text-black text-sm rounded-lg bg-white" hx-get="/alarm_3" hx-trigger="load, every 2s"></div>
            <button id="alarm3Copy" class="w-full rounded-lg font-bold text-white bg-blue-500" onclick="copyText('alarm3')">알람 복사</button>
            <div id="alarm3Info" class="box-border w-full p-1 rounded-lg text-black bg-white">
                <div hx-get="/alarm_3_info" hx-trigger="load, every 2s"></div><br>
                <li class="font-bold">담당자</li>
                <div hx-get="/alarm_3_char" hx-trigger="load, every 2s"></div>
            </div>
        </div>
        <div id="alarm4Box" class="rounded-lg ring-2 ring-offset-2 ring-green-600">
            <div id="alarm4" class="py-2 px-4 text-black text-sm rounded-lg bg-white" hx-get="/alarm_4" hx-trigger="load, every 2s"></div>
            <button id="alarm4Copy" class="w-full rounded-lg font-bold text-white bg-blue-500" onclick="copyText('alarm4')">알람 복사</button>
            <div id="alarm4Info" class="box-border w-full p-1 rounded-lg text-black bg-white">
                <div hx-get="/alarm_4_info" hx-trigger="load, every 2s"></div><br>
                <li class="font-bold">담당자</li>
                <div hx-get="/alarm_4_char" hx-trigger="load, every 2s"></div>
            </div>
        </div>
        <div id="alarm5Box" class="rounded-lg ring-2 ring-offset-2 ring-green-600">
            <div id="alarm5" class="py-2 px-4 text-black text-sm rounded-lg bg-white" hx-get="/alarm_5" hx-trigger="load, every 2s"></div>
            <button id="alarm5Copy" class="w-full rounded-lg font-bold text-white bg-blue-500" onclick="copyText('alarm5')">알람 복사</button>
            <div id="alarm5Info" data-item-id="alarmInfoBox" class="box-border w-full p-1 rounded-lg text-black bg-white">
                <div hx-get="/alarm_5_info" hx-trigger="load, every 2s"></div><br>
                <li class="font-bold">담당자</li>
                <div hx-get="/alarm_5_char" hx-trigger="load, every 2s"></div>
            </div>
        </div>
    </div>
</body>
    <script>
        const backGround = document.getElementById('backGround');
        const bwGround = document.getElementById('bwGround');
        const moodBtn = document.getElementById('styleSwich');
        const Icon = document.getElementById('modeIcon');
        const boxOutLine1 = document.getElementById('alarm1Box');
        const boxOutLine2 = document.getElementById('alarm2Box');
        const boxOutLine3 = document.getElementById('alarm3Box');
        const boxOutLine4 = document.getElementById('alarm4Box');
        const boxOutLine5 = document.getElementById('alarm5Box');
        const copyBtn1 = document.getElementById('alarm1Copy');
        const copyBtn2 = document.getElementById('alarm1Copy');
        const copyBtn3 = document.getElementById('alarm1Copy');
        const copyBtn4 = document.getElementById('alarm1Copy');
        const copyBtn5 = document.getElementById('alarm1Copy');
        const alarm1 = document.getElementById('alarm1');
        const alarm2 = document.getElementById('alarm2');
        const alarm3 = document.getElementById('alarm3');
        const alarm4 = document.getElementById('alarm4');
        const alarm5 = document.getElementById('alarm5');
        const alarmInfo1 = document.getElementById('alarm1Info');
        const alarmInfo2 = document.getElementById('alarm2Info');
        const alarmInfo3 = document.getElementById('alarm3Info');
        const alarmInfo4 = document.getElementById('alarm4Info');
        const alarmInfo5 = document.getElementById('alarm5Info');

        function copyText(elementId) {
            var textElement = document.getElementById(elementId);
            var tempTextArea = document.createElement("textarea");
            tempTextArea.value = textElement.innerText;
            document.body.appendChild(tempTextArea);
            tempTextArea.select();
            document.execCommand("copy");
            document.body.removeChild(tempTextArea);
        };
        moodBtn.addEventListener('click',()=>{
            if(moodBtn.classList.contains('bg-blue-500')){
                backGround.classList.replace('bg-white','bg-gray-400');
                bwGround.classList.replace('bg-white','bg-gray-400');
                moodBtn.classList.replace('bg-blue-500','bg-green-500');
                moodBtn.classList.replace('text-white','text-black');
                Icon.textContent = 'bedtime';
                boxOutLine1.classList.replace('ring-green-600','ring-red-600');
                copyBtn1.classList.replace('bg-blue-500','bg-blue-800');
                alarm1.classList.replace('bg-white','bg-gray-600');
                alarm1.classList.replace('text-black','text-white');
                alarmInfo1.classList.replace('bg-white','bg-gray-600');
                alarmInfo1.classList.replace('text-black','text-white');
                boxOutLine2.classList.replace('ring-green-600','ring-red-600');
                copyBtn2.classList.replace('bg-blue-500','bg-blue-800');
                alarm2.classList.replace('bg-white','bg-gray-600');
                alarm2.classList.replace('text-black','text-white');
                alarmInfo2.classList.replace('bg-white','bg-gray-600');
                alarmInfo2.classList.replace('text-black','text-white');
                boxOutLine3.classList.replace('ring-green-600','ring-red-600');
                copyBtn3.classList.replace('bg-blue-500','bg-blue-800');
                alarm3.classList.replace('bg-white','bg-gray-600');
                alarm3.classList.replace('text-black','text-white');
                alarmInfo3.classList.replace('bg-white','bg-gray-600');
                alarmInfo3.classList.replace('text-black','text-white');
                boxOutLine4.classList.replace('ring-green-600','ring-red-600');
                copyBtn4.classList.replace('bg-blue-500','bg-blue-800');
                alarm4.classList.replace('bg-white','bg-gray-600');
                alarm4.classList.replace('text-black','text-white');
                alarmInfo4.classList.replace('bg-white','bg-gray-600');
                alarmInfo4.classList.replace('text-black','text-white');
                boxOutLine5.classList.replace('ring-green-600','ring-red-600');
                copyBtn5.classList.replace('bg-blue-500','bg-blue-800');
                alarm5.classList.replace('bg-white','bg-gray-600');
                alarm5.classList.replace('text-black','text-white');
                alarmInfo5.classList.replace('bg-white','bg-gray-600');
                alarmInfo5.classList.replace('text-black','text-white');
            }else{
                backGround.classList.replace('bg-white','bg-gray-400');
                bwGround.classList.replace('bg-gray-400','bg-white');
                moodBtn.classList.replace('bg-green-500','bg-blue-500');
                moodBtn.classList.replace('text-black','text-white');
                Icon.textContent = 'wb_sunny';
                boxOutLine1.classList.replace('ring-red-600','ring-green-600');
                copyBtn1.classList.replace('bg-blue-800','bg-blue-500');
                alarm1.classList.replace('bg-gray-600','bg-white');
                alarm1.classList.replace('text-white','text-black');
                alarmInfo1.classList.replace('bg-gray-600','bg-white');
                alarmInfo1.classList.replace('text-white','text-black');
                boxOutLine2.classList.replace('ring-red-600','ring-green-600');
                copyBtn2.classList.replace('bg-blue-800','bg-blue-500');
                alarm2.classList.replace('bg-gray-600','bg-white');
                alarm2.classList.replace('text-white','text-black');
                alarmInfo2.classList.replace('bg-gray-600','bg-white');
                alarmInfo2.classList.replace('text-white','text-black');
                boxOutLine3.classList.replace('ring-red-600','ring-green-600');
                copyBtn3.classList.replace('bg-blue-800','bg-blue-500');
                alarm3.classList.replace('bg-gray-600','bg-white');
                alarm3.classList.replace('text-white','text-black');
                alarmInfo3.classList.replace('bg-gray-600','bg-white');
                alarmInfo3.classList.replace('text-white','text-black');
                boxOutLine4.classList.replace('ring-red-600','ring-green-600');
                copyBtn4.classList.replace('bg-blue-800','bg-blue-500');
                alarm4.classList.replace('bg-gray-600','bg-white');
                alarm4.classList.replace('text-white','text-black');
                alarmInfo4.classList.replace('bg-gray-600','bg-white');
                alarmInfo4.classList.replace('text-white','text-black');
                boxOutLine5.classList.replace('ring-red-600','ring-green-600');
                copyBtn5.classList.replace('bg-blue-800','bg-blue-500');
                alarm5.classList.replace('bg-gray-600','bg-white');
                alarm5.classList.replace('text-white','text-black');
                alarmInfo5.classList.replace('bg-gray-600','bg-white');
                alarmInfo5.classList.replace('text-white','text-black');
            }});
    </script>
</html>