<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body>
    <div class="flex flex-col bg-green-100 space-y-5 mx-auto max-w-2xl py-2 px-2 font-sans leading-normal">
        <div class="rounded-lg ring-2 ring-offset-2 ring-green-600 space-y-1">
            <div class="rounded-lg py-2 px-4 bg-white" id="alarm1" hx-get="/alarm_1" hx-trigger="load, every 2s"></div>
            <button class="rounded-lg w-full bg-blue-500 font-bold text-white" onclick="copyText('alarm1')">알람 복사</button>
            <div class="box-border rounded-lg py-2 px-4 bg-white">
                <div hx-get="/alarm_1_info" hx-trigger="load, every 2s"></div><br>
                <li class="font-bold">담당자</li>
                <div hx-get="/alarm_1_char" hx-trigger="load, every 2s"></div>
            </div>
        </div>
        <div class="rounded-lg ring-2 ring-offset-2 ring-green-600 space-y-1">
            <div class="rounded-lg py-2 px-4 bg-white" id="alarm2" hx-get="/alarm_2" hx-trigger="load, every 2s"></div>
            <button class="rounded-lg w-full bg-blue-500 font-bold text-white" onclick="copyText('alarm2')">알람 복사</button>
            <div class="box-border rounded-lg py-2 px-4 bg-white">
                <div hx-get="/alarm_2_info" hx-trigger="load, every 2s"></div><br>
                <li class="font-bold">담당자</li>
                <div hx-get="/alarm_2_char" hx-trigger="load, every 2s"></div>
            </div>
        </div>
        <div class="rounded-lg ring-2 ring-offset-2 ring-green-600 space-y-1">
            <div class="rounded-lg py-2 px-4 bg-white" id="alarm3" hx-get="/alarm_3" hx-trigger="load, every 2s"></div>
            <button class="rounded-lg w-full bg-blue-500 font-bold text-white" onclick="copyText('alarm3')">알람 복사</button>
            <div class="box-border rounded-lg py-2 px-4 bg-white">
                <div hx-get="/alarm_3_info" hx-trigger="load, every 2s"></div><br>
                <li class="font-bold">담당자</li>
                <div hx-get="/alarm_3_char" hx-trigger="load, every 2s"></div>
            </div>
        </div>
        <div class="rounded-lg ring-2 ring-offset-2 ring-green-600 space-y-1">
            <div class="rounded-lg py-2 px-4 bg-white" id="alarm4" hx-get="/alarm_4" hx-trigger="load, every 2s"></div>
            <button class="rounded-lg w-full bg-blue-500 font-bold text-white" onclick="copyText('alarm4')">알람 복사</button>
            <div class="box-border rounded-lg py-2 px-4 bg-white">
                <div hx-get="/alarm_4_info" hx-trigger="load, every 2s"></div><br>
                <li class="font-bold">담당자</li>
                <div hx-get="/alarm_4_char" hx-trigger="load, every 2s"></div>
            </div>
        </div>
        <div class="rounded-lg ring-2 ring-offset-2 ring-green-600 space-y-1">
            <div class="rounded-lg py-2 px-4 bg-white" id="alarm5" hx-get="/alarm_5" hx-trigger="load, every 2s"></div>
            <button class="rounded-lg w-full bg-blue-500 font-bold text-white" onclick="copyText('alarm5')">알람 복사</button>
            <div class="box-border rounded-lg py-2 px-4 bg-white">
                <div hx-get="/alarm_5_info" hx-trigger="load, every 2s"></div><br>
                <li class="font-bold">담당자</li>
                <div hx-get="/alarm_5_char" hx-trigger="load, every 2s"></div>
            </div>
        </div>
        
    </div>
</body>
    <script>
        function copyText(elementId) {
            var textElement = document.getElementById(elementId);
            var tempTextArea = document.createElement("textarea");
            tempTextArea.value = textElement.innerText;
            document.body.appendChild(tempTextArea);
            tempTextArea.select();
            document.execCommand("copy");
            document.body.removeChild(tempTextArea);
        }
    </script>
</html>