<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body>
    <div class="text-base font-sans flex-col leading-normal bg-gray-200 space-y-3 mx-auto max-w-2xl py-1 px-1 divide-y-4 divide-black divide-dashed divide-opacity-100">
        <div>
            <div class="box-border rounded-lg py-2 px-4 bg-white" id="alarm1" hx-get="/alarm_1" hx-trigger="load, every 2s"></div>
            <button class="text-sm text-white box-border rounded-lg w-20 bg-blue-600" onclick="copyText('alarm1')">복사</button>
            <div class="text-gray-700 py-2 px-4 bg-white" hx-get="/alarm_1_info" hx-trigger="load, every 2s"></div>
            <div class="text-gray-700 py-2 px-4 bg-white" hx-get="/alarm_1_char" hx-trigger="load, every 2s"></div>
        </div>
        <div>
            <div class="box-border rounded-lg py-2 px-4 bg-white" id="alarm2" hx-get="/alarm_2" hx-trigger="load, every 2s"></div>
            <button class="text-sm text-white box-border rounded-lg w-20 bg-blue-600" onclick="copyText('alarm2')">복사</button>
            <div class="text-gray-700 box-border rounded-lg py-2 px-4 bg-white" hx-get="/alarm_2_info" hx-trigger="load, every 2s"></div>
            <div class="text-gray-700 box-border rounded-lg py-2 px-4 bg-white"hx-get="/alarm_2_char" hx-trigger="load, every 2s"></div>
        </div>
        <div>
            <div class="box-border rounded-lg py-2 px-4 bg-white" id="alarm1" hx-get="/alarm_3" hx-trigger="load, every 2s"></div>
            <button class="text-sm text-white box-border rounded-lg w-20 bg-blue-600" onclick="copyText('alarm3')">복사</button>
            <div class="text-gray-700 box-border rounded-lg py-2 px-4 bg-white" hx-get="/alarm_3_info" hx-trigger="load, every 2s"></div>
            <div class="text-gray-700 box-border rounded-lg py-2 px-4 bg-white"hx-get="/alarm_3_char" hx-trigger="load, every 2s"></div>
        </div>
        <div>
            <div class="box-border rounded-lg py-2 px-4 bg-white" id="alarm1" hx-get="/alarm_4" hx-trigger="load, every 2s"></div>
            <button class="text-sm text-white box-border rounded-lg w-20 bg-blue-600" onclick="copyText('alarm4')">복사</button>
            <div class="text-gray-700 box-border rounded-lg py-2 px-4 bg-white" hx-get="/alarm_4_info" hx-trigger="load, every 2s"></div>
            <div class="text-gray-700 box-border rounded-lg py-2 px-4 bg-white"hx-get="/alarm_4_char" hx-trigger="load, every 2s"></div>
        </div>
        <div>
            <div class="box-border rounded-lg py-2 px-4 bg-white" id="alarm1" hx-get="/alarm_5" hx-trigger="load, every 2s"></div>
            <button class="text-sm text-white box-border rounded-lg w-20 bg-blue-600" onclick="copyText('alarm5')">복사</button>
            <div class="text-gray-700 box-border rounded-lg py-2 px-4 bg-white" hx-get="/alarm_5_info" hx-trigger="load, every 2s"></div>
            <div class="text-gray-700 box-border rounded-lg py-2 px-4 bg-white"hx-get="/alarm_5_char" hx-trigger="load, every 2s"></div>
        </div>
    </div>
</body>
    <script>
        function copyText(elementId) {
            var textElement = document.getElementById(elementId);
            var tempTextArea = document.createElement("textarea");
            tempTextArea.value = textElement.innerText;
            document.body.appendChild(tempTextArea);
            tempTextArea.select();
            document.execCommand("copy");
            document.body.removeChild(tempTextArea);
        }
    </script>
</html>